body {
  background-color: papayawhip;
  font-size: 100%;
}

#welcome {
  text-align: center;
}

#welcome-title {
  font-size: 3em;
  text-shadow: 2px 2px gray;
}

#heading {
  display: none;
}

#page-title {
  text-align: center;
}

#page-description{
  text-align: center;
}

#add-user {
  display: none;
}

#restaurant-container {
  display: none;
}

.restaurant-entry {
  color: white;
  background-color: maroon;
  border: 10px inset saddlebrown;
  padding: 10px;
  width: 20%;
  margin: 10px;
  /* float: left;
  width: 250px;
  margin: auto; */
}

#container {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}

.restaurant-container {

}
