body {
  background-color: papayawhip;
  /* background-image: url(http://res.cloudinary.com/hksqkdlah/image/upload/w_1200,h_630,c_fill/ATK%20Food%20Truck/CAN_ATKFoodTruck_5391_23x9);
  background-repeat: no-repeat;
  background-blend-mode: lighten; */
  font-size: 100%;
}

#welcome {
  text-align: center;
}

#welcome-title {
  font-size: 3em;
  text-shadow: 3px 3px gray;
}

#heading {
  display: none;
}

#page-title {
  text-align: center;
  font-size: 2em;
  text-shadow: 3px 3px gray;
}

#page-description{
  text-align: center;
  font-size: 1.25em;
  width: 500px;
  position: relative;
  left: 225px;
}

#add-user {
  display: none;
}

#users-container {
  display: none;
}

#restaurant-container {
  display: none;
}

.restaurant-entry {
  color: white;
  background-color: maroon;
  border: 10px inset saddlebrown;
  padding: 10px;
  width: 20%;
  margin: 10px;
  /* float: left;
  width: 250px;
  margin: auto; */
}



#container {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}

.restaurant-container {

}
